# Stats helper functions
ministats

# numerical and scientific computing base
numpy
scipy


# data
pandas
odfpy
lxml
openpyxl


# plotting
matplotlib
seaborn


# stats
statsmodels
pingouin
# linear models bonus topics
marginaleffects
# scikit-learn
# Bayesian stats
bambi
pymc


# notebook
jupyter
jupyterlab
jupyterlab-spellchecker
# custom pin because latest version requires new `cargo`
y-py>=0.4.0,<0.5.0


# data generation
faker


# for MyST rich md in notebook
# commented out because it makes selecting text difficult
# jupyterlab_myst


# symbolic math (OFF because decided not to cover)
# sympy
