# data
numpy
pandas
odfpy
lxml
# maybe needed:
# openpyxl xlwt


# stats
scipy
statsmodels

# ML
scikit-learn

# plotting
matplotlib
seaborn
plotnine

# notebook 
jupyter
jupyterlab
jupyterlab-spellchecker

# jupyter-book
jupyter-book
sphinxext-opengraph
ghp-import

