# data
numpy
pandas
odfpy
lxml
openpyxl

# math
sympy

# stats
scipy
statsmodels
pingouin

# plotting
matplotlib
seaborn
plotnine

# ML
scikit-learn

# notebook 
jupyter
jupyterlab
jupyterlab-spellchecker
# custom pin because latest version requires new `cargo`
y-py>=0.4.0,<0.5.0

# for MyST rich md in notebook
jupyterlab_myst

# data generation
faker

# jupyter-book
jupyter-book
sphinxext-opengraph
ghp-import

